.favorites-wrap {
    min-width: 100px;
}

.favorites {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.favorites::-webkit-scrollbar {
    display: none;
}

.favorites {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


@media (max-width: 768px) {
    .favorites {
        flex-direction: row;
    }
    .favorites li {
        border-bottom: none;
        border-right: 1px solid #dedede;
    }
}

.favorites li {
    width: 100px;
    height: 70px;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
    font-size: 14px;
    line-height: 70px;
}