.map-info-container {
    min-width: 300px;
    border: 1px solid #777;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.map-info {
    display: flex;
    justify-content: space-between;
}

.shelter-wrap {
    border: 1px solid #777;
}

.map-wrap {
    border: 1px solid #777;
}

.favorites-wrap {
    border: 1px solid #777;
}