.notification-wrap {
    width: 250px;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
}

.special-report-info-element{
    border: 1px solid #777;
    background-color: #777;
}