.shelter-detail-info-container { 
    margin-bottom: 30px;
    width: 900px;
}

@media (max-width: 768px) {
    .shelter-detail-info-container {
        width: 100%;
    }
}

.shelter-detail-info-recent-review-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shelter-detail-info-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.shelter-detail-info-search-box {
    position: relative;
    width: 50%;
}

.shelter-search-box {
    width: 100%;
    padding: 8px 40px 8px 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.shelter-search-icon {
    position: absolute;
    right: 12px; /* 오른쪽 여백 */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* 아이콘 클릭이 input에 영향을 주지 않도록 설정 */
    font-size: 1.2em; /* 아이콘 크기 */
    color: #ccc; /* 아이콘 색상 */
}

.shelter-detail-info-search-condition{
    display: flex;
    gap: 15px;
}

.shelter-time-condition-sort-direction,
.shelter-size-condition,
.shelter-time-condition,
.shelter-type-condition {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    background-color: #fff;
}

@media (max-width: 768px) {
    .shelter-detail-info-search-box {
        position: relative;
        width: 25%;
    }
    
    .shelter-detail-info-filter {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .shelter-detail-info-filter-right {
        width: 100%;
        justify-content: space-between;
    }

    .shelter-detail-info-search-box,
    .shelter-time-condition,
    .shelter-type-condition {
        width: 100%;
    }
}

.no-found-wrap {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 15px; 
    margin-bottom: 20px; 
    background-color: #f9f9f9; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
}

.shelter-detail-info-component {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 15px; 
    margin-bottom: 20px; 
    background-color: #f9f9f9; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
}

.shelter-detail-info-head,
.shelter-detail-info-body,
.shelter-detail-info-foot {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.shelter-detail-info-foot {
    cursor: pointer;
}

.shelter-detail-info-recent-review-update-confirm,
.shelter-detail-info-recent-review-update {
    margin-right: 13px;
    color: #777;
    font-size: 13px;
    cursor: pointer;
}

.shelter-detail-info-recent-review-update-cancel,
.shelter-detail-info-recent-review-delete {
    color: #777;
    font-size: 13px;
    cursor: pointer;
    margin-right: 13px;
}

.shelter-detail-info-recent-review-time {
    margin-right: 13px;
    color: #777;
}
.shelter-detail-info-review-firstline-btn-wrap{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    max-width: 50%;
}

.shelter-detail-info-head {
    font-weight: bold;
}

.shelter-detail-info-type {
    font-size: 13px; 
    color: #333; 
}

.shelter-detail-info-like-wrap{
    display: flex;
    flex-direction: row;
}

.shelter-detail-info-like-btn {
    font-size: 16px; 
    color: #e74c3c; 
    cursor: pointer; 
}

.shelter-detail-info-like-count {
    font-size: 16px; 
    color: #555; 
}

.shelter-detail-info-body {
    font-size: 17px; 
    cursor: pointer;
}

.shelter-detail-info-name {
    font-weight: bold;
    color: #2c3e50; 
    overflow: hidden; 
    white-space: nowrap;
}

.shelter-detail-info-current-state {
    border: none;
    color: white; 
    padding: 5px 10px; 
    border-radius: 12px; 
    font-size: 12px; 
    margin-left: 10px; 
}

.useY {
    background-color: #3498db;
}

.useN {
    background-color: #db3c34;
}

.shelter-detail-info-foot {
    font-size: 14px; 
}

.new-review-box {
    width: 100%;
    padding: 7px 12px 7px 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8em;
    box-sizing: border-box;
    margin-right: 10px;
}

.update-review-box {
    width: 100%;
    padding: 7px 12px 7px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8em;
    box-sizing: border-box;
    margin-right: 10px;
}

.shelter-detail-info-review-count {
    font-size: 16px;
    font-weight: bold; 
    margin-right: 10px; 
    color: #8e44ad; 
}

.new-review-btn {
    text-align: center;
    color: #777;
    border: none;
    cursor: pointer;
    padding: 8px 12px; 
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.shelter-detail-info-review-wrap{
    display: flex;
    flex-direction: row;
}

.shelter-detail-info-review-firstline {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    color: #777;
    margin-right: 10px;
    font-weight: bold;
}

.shelter-detail-info-content-btn {
    cursor: pointer; 
    font-size: 18px; 
    color: #3498db;
}

.refresh-btn {
    text-align: center;
    width: 100%;
    color: #777;
    border: none;
    cursor: pointer;
    padding: 8px 12px; 
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.shelter-detail-info-more-wrap {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 15px; 
    margin-bottom: 20px; 
    background-color: #f9f9f9; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.shelter-detail-info-length {
    margin-left: 5px;
}

.cooling-centre-detail-info {
    display: flex;
    flex-direction: row;
}

.shunt-place-detail-info,
.heating-centre-detail-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.shunt-place-detail-info-address,
.heating-centre-detail-info-address {
    margin: 5px 0px;
    font-weight: bold;
    font-size: 14px;
}


.heating-centre-detail-info-option div {
    border: none;
    background-color: cadetblue;
    color: white; 
    padding: 5px 10px; 
    border-radius: 12px; 
    font-size: 12px; 
    margin-right: 5px;
}

.shunt-place-detail-info-operating,
.heating-centre-detail-info-operating,
.shunt-place-detail-info-count,
.heating-centre-detail-info-count {
    margin: 5px 0px;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shunt-place-detail-info-operating div,
.heating-centre-detail-info-operating div,
.shunt-place-detail-info-count div,
.heating-centre-detail-info-count div {
    display: inline;
    font-size: 12px;
    font-weight: bold;
}

.shunt-place-detail-info-operating div span,
.heating-centre-detail-info-operating div span,
.shunt-place-detail-info-count div span,
.heating-centre-detail-info-count div span {
    color: red;
}

.shunt-place-detail-info {

}

.shelter-detail-info-recent-review-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.shelter-detail-info-recent-review-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 5px;
    margin-bottom: 13px;
    font-size: 12px;
    font-weight: bold;
}