.map-info-container {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 300px;
}

.map-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .map-info-container{
        height: auto;
    }

    .map-info {
        flex-direction: column;
    }
}