.weather-info-container {
    width: 900px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.weather-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 200px;
}

.weather-info-current {
    width: 70%;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
}

.weather-info-current-element {
    display: flex;
    flex-direction: column;
}

.weather-info-current-element-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.weather-info-current-location {
    font-size: 0.9em;
    color: white;
}

.weather-info-current-time {
    font-size: 0.9em;
    color: white;
}

.weather-info-current-element-body {
    display: flex;
    align-items: center;
}

.weather-info-current-sky {
    font-size: 1.5em;
    margin-right: 10px;
    color: white;
}

.weather-info-current-t1h {
    font-size: 1.8em;
    color: white;
}

.weather-info-another-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.weather-info-another-location p {
    margin: 0;
    font-size: 0.8em;
    color: white;
}

.weather-info-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 30%;
}

.weather-info-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.weather-info-time,
.weather-info-sky,
.weather-info-t1h {
    font-size: 1em;
    color: #555;
}

@media only screen and (max-width: 768px) {
    .weather-info-container {
        width: 700px;
    }

    .weather-info {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 400px;
    }

    .weather-info-current {
        width: 100%;
    }

    .weather-info-list {
        width: 100%;
    }
}